
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    display: grid;
    height: 100vh;
    grid-template-rows: 5rem 1fr 5rem;
    gap: 1rem;
    overflow: hidden;
}




  
  
  
.dropbtn {
    background-color: #4c00ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #7f48ff;}

header {
    background-color: #080808;
    text-align: center;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 2rem;
}

header > div > img {
    height: 4rem;
    display: block;
}

/* header > div > h1 {
    width: 100%;
    text-align: center;
} */

main {
    display: flex;
    grid-gap: 1rem;
    /* grid-template-columns: repeat(2, 1fr); */
    /* padding: .5rem; */
    overflow: auto;
    justify-content: space-around;
    text-align: center;
    margin-top: 8rem;
}
main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px 5px rgba(0, 0, 0, 0.2);
}

main ul {
    width: 60%;
    text-align: justify;
}

main ul li {
    margin: 1rem;
}

.video {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
main > div > img { 
    height: 100%;
}



@media (min-width: 620px) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }
    main > div > img {
        width: 100%;
    }
}

.texto {
    text-align: left;
    margin: 3rem;
}

footer {
    background-color: #080808;
    text-align: start;

} 

footer > p {
    /* margin-left: 0.5rem; */
    color: #4c00ff;
    text-align: center;
    margin-top: 1rem;
}

footer > p a {
    /* margin-left: 0.5rem; */
    color: #4c00ff;
    text-decoration: none;

}